<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
		</title>
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
		<link rel='stylesheet' href='../stylesheets/lights.css'>
	</head>
	<body>
		<div class='b-lightscontainer' id='lights1'>
			<div class="StartGameDiv" onselectstart="return false" onmousedown="return false"><h3>Lets start</h3><p>The task is simple. We need only white </p></div>
			<div class="WinDiv" onselectstart="return false" onmousedown="return false"><p>YOU WIN<br>try again!</p></div>
			
		</div>	
		<script src="../scripts/jquery-3.1.1.min.js"></script>
		<script src="../scripts/lights.js"></script>
		<script>
		
		var f2 = new Lights("#lights1");
		</script>
	</body>
</html>